@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

.example-card {
    max-width: 400px;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
